*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}
body{
    height: 100vh;
    overflow: hidden;
    background: linear-gradient(45deg,#061de3,#e306ca);
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(211,211,211);
    display: flex;
    justify-content: center;
    align-items: center;
}
.container{
    width: 550px;
    height: 300px;
    perspective: 500px;
}
.card {
    height: 100%;
    transition: transform 1500ms;
    width: 100%;
    position: relative;
    transform-style: preserve-3d;
}
.container:hover > .card{
    cursor: pointer;
    transform: rotateY(180deg);
}
.front,.back{
    height: 100%;
    width: 100%;
    padding: 20px;
    backface-visibility: hidden;
    border-radius: 2rem;
    box-shadow: 0 0 5px 2px rgba(50, 50, 50, 0.25);
    position: absolute;
}
.front{
    background-image: url(https://source.unsplash.com/random/350*500);
    object-fit: contain  ;
}
.back{
    background-color: #3a3a3a;
    transform: rotateY(180deg);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5rem;
}